In [4]:
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

# Task (map or filter)
# Number letter in the name
# [4, 8, 11, 15, 10, 4]


avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

name_lengths = (map(lambda name: len(name), avengers))
print(list(name_lengths))  # Output: [4, 8, 11, 15, 10, 4]

[4, 8, 11, 15, 10, 4]

In [ ]:
#Task 1.2

#Find longer names more the 10 letters name and stored in a new list

#Output
#["Black widow", "Captain america"]

long_names = (filter(lambda name: len(name) > 10, avengers))
print(list(long_names))  # Output: ["Black widow", "Captain america"]

['Black widow', 'Captain america']

Task 1.3

Find the passed student's names (pass criteria >= 40)

Output ["Lillian Ellis", "Debra Beard", "Nettie Hancock" ]

In [7]:
scores = [
    {
        "marks": 32,
        "name": "Yvette Merritt",
    },
    {
        "marks": 57,
        "name": "Lillian Ellis",
    },
    {
        "marks": 22,
        "name": "Mccall Carter",
    },
    {
        "marks": 21,
        "name": "Pate Collier",
    },
    {
        "marks": 91,
        "name": "Debra Beard",
    },
    {
        "marks": 75,
        "name": "Nettie Hancock",
    },
    {
        "marks": 20,
        "name": "Hatfield Hodge",
    },
]

promoted = (filter(lambda student: student["marks"] >= 40, scores))

promoted_names = (map(lambda student: student["name"], promoted))
print(list(promoted_names))

['Lillian Ellis', 'Debra Beard', 'Nettie Hancock']

Find the topper

Clue: Use sorted()

Output Debra Beard

In [ ]:
topper = filter(lambda student: student["marks"] >= 40, scores)

topper_name = map(lambda student: student["name"], topper)
print(list(topper_name))